name: Build
on:
  push:
    branches:
      - main
jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
      - uses: cachix/install-nix-action@4e002c8ec80594ecd40e759629461e26c8abed15 # v31
      - uses: cachix/cachix-action@v16
        with:
          name: tiramission
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"
      - name: Build 
        run: nix build -L
      - name: Push
        run: cachix push tiramission ./result
